.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #ccc;
    background: #fff;
}


.Input:focus{
    outline: none;
    background-color: #ccc;
}

.Label{
    font-weight: bold;
    display: block;
    margin: 0 0 8px 0;
}

.Invalid{
    border:1px solid crimson;
}